aiohttp==3.7.4
aiohttp-jwt==0.6.1
aiohttp-route-decorator==0.1.4
aiozk==0.26.0
asab==20.7
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
fastjsonschema==2.14.4
idna==2.10
idna-ssl==1.1.0
mongoengine==0.20.0
multidict==4.7.6
PyJWT==1.7.1
pymongo==3.10.1
redis==3.5.3
simplejson==3.17.0
typing-extensions==3.7.4.2
Werkzeug==1.0.1
yarl==1.4.2
